<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title> </title>
    <link href="/bundle.css?b0772f54e97c21c7b0fd" rel="stylesheet">
    <link href="http://vjs.zencdn.net/5.0.2/video-js.css" rel="stylesheet">

</head>
<body>
<div id="root" style="display:flex; position: absolute;left:0;top:0;right:0;bottom:0;">

</div>
<script type="text/javascript" src="/bundle.js?b0772f54e97c21c7b0fd"></script>
</body>
</html>
