<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title><% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="./<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet"><% } %>

    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=EY8wLqwM0ckGQKyVm7pxWPR2v3VoH3Zm"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css"/>
    <style>
        .anchorBL{
            display: none !important;
        }
    </style>
</head>
<body>
    <div id="root" style="display:flex; position: absolute;left:0;top:0;right:0;bottom:0;">

    </div>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="./<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>
</html>
